<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaiseKahan</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>PaiseKahan</h1>
            <p class="motto">25 din me paise double</p><br><br>
        </header>
        <main>
            <button onclick="location.href='/views/login.html'">Login</button>
            <button onclick="location.href='/views/SignUp.html'">Sign Up</button>
        </main>
    </div>
</body>
</html>
